[submodule "nimbus-theme"]
	path = packages/nimbus-theme
	url = https://github.com/mrcnski/nimbus-theme
[submodule "eyebrowse"]
	path = packages/eyebrowse
	url = https://github.com/mrcnski/eyebrowse
[submodule "packages/catppuccin-theme"]
	path = packages/catppuccin-theme
	url = https://github.com/catppuccin/emacs
[submodule "packages/keys"]
	path = packages/keys
	url = https://github.com/mrcnski/keys
[submodule "packages/compnav-eshell"]
	path = packages/compnav-eshell
	url = https://github.com/mrcnski/compnav-eshell
[submodule "packages/context-clues"]
	path = packages/context-clues
	url = https://github.com/mrcnski/context-clues
