[submodule "nimbus-theme"]
	path = packages/nimbus-theme
	url = https://github.com/mrcnski/nimbus-theme
[submodule "eyebrowse"]
	path = packages/eyebrowse
	url = https://github.com/mrcnski/eyebrowse
[submodule "keys"]
	path = packages/keys
	url = https://github.com/mrcnski/keys
